@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #0284c7;
  --color-secondary: #4e6688;
  --color-base-200: #b2c6d5;
}

* {
  font-family: "Noto Serif", serif;
}

.nav-link {
  @apply relative rounded px-3 py-1 text-xl backdrop-blur-md 
text-slate-800 transition-transform ease-out duration-150 hover:bg-white/60;
}
.nav-link.active {
  @apply font-bold scale-105 bg-white/80 text-primary;
}

.footer-link {
  @apply relative rounded px-3 py-1 text-xl backdrop-blur-md
text-slate-800 transition-transform ease-out duration-150 hover:bg-primary;
}
.footer-link.active {
  @apply font-bold scale-105 text-white bg-primary
         shadow-sm;
}
